.hero {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background-size: cover;
  background-position: center;
  top: 0;
  position: relative;
  .content {
    max-width: 60rem;
    h1 {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.3;
      span {

      }
    }
    p {
      font-size: 1.6rem;
      margin: 2rem 0 4rem;
    }
  }
  .text-animate {
    position: relative;
    width: 32.8rem;
    h3 {
      font-size: 3.2rem;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: .7px var(--main-color);
    }
  }
  .sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: transparent;
      border: .2rem solid var(--main-color);
      border-radius: 50%;
      font-size: 20px;
      color: var(--main-color);
      z-index: 1;
      overflow: hidden;
      transition: var(--transition);
      &:before {
        content: '';
        position: absolute;
        background: var(--main-color);
        width: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        transition: var(--transition);
      }
      &:hover {
        color: var(--bg-color);
        &:before {
          width: 100%;
        }
      }
    }
  }
  .background-hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: var(--transition-slowly);
    &:hover {
      background: var(--bg-color);
      opacity: .8;
    }
  }
}